h1 {
    background-image: linear-gradient(#1a73e8 , #9c27b0);
    color:transparent;
    background-clip:text;
    text-shadow: 2px,2px,3px,rgba(0,0,0,0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline dotted #333;
    text-decoration-thickness: 3px;
    
}

h1:hover{
    background-color: #f0f0f0;
    color: #ff5722;
}