h1 {
    background: linear-gradient(to right, #1a73e8, #9c27b0);
    background-clip: text;
    color: transparent;

    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    /* textschatten(sehr dunkel)*/

    text-transform: uppercase;
    /* großbuchstaben*/

    letter-spacing: 2px;
    /*buchstabenabstand*/
    border-bottom: 2px dashed #333;
    /* gestrichelte grenzlinie*/

}

h1:hover {
    background-color: none;
    background-color: #f0f0f0;
    color: #ff5722;


}